@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    
}


body {
  widows: 100% ;
  height: 100vh ;
  display: flex;
  justify-content: flex-start ;
  align-items: center ;
  background:radial-gradient(#9292923d , #3b3838b9),url('background.jpg') no-repeat center;
  background-size: cover ;
}


h1 {
    font-size: 4em ;
    font-weight: 200 ;
    color: #CCC;
    font-family: 'Raleway', sans-serif;
    padding: 40px ;
    letter-spacing: -1px ;


}


span {
    border-right: 1px solid #CCC ;
}